<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mfp!</title>
        <link rel="stylesheet"
            href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="style/custom.css">
    </head>
    <body>
        <!-- Header -->
        <header id="head" class="sticky-top">
            <!-- TOP HEADER -->
            <!-- <section id="top-header"
                class="bg-primary py-1 text-white d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pt-2 text-center">
                            <h6><i class="bi bi-flask-fill"></i>&nbsp;&nbsp;Psst! I'm making the 'eye catchy' version of this page... <a href="#" class="text-white">Click here!</a></h6>
                        </div>
                    </div>
                </div>
            </section> -->

            <!-- NAVIGATION -->
            <nav
                class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 scroll-top">
                <div class="container">
                    <a href="#" class="navbar-brand px-3">mfp</a>

                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navmenu"><span
                            class="navbar-toggler-icon"></span></button>

                    <div id="navmenu" class="collapse navbar-collapse px-1">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a href="#hero"
                                    class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">About</a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">Interest</a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">Portfolio <i
                                        class="bi bi-box-arrow-up-right"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">Docs <i
                                        class="bi bi-box-arrow-up-right"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">Blogs <i
                                        class="bi bi-box-arrow-up-right"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link">Contact</a></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown">Theme</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item"><span
                                                class="bi bi-gear"></span>
                                            Action</a></li>
                                    <li><a href="#"
                                            class="dropdown-item">Act2</a></li>
                                    <li><a href="#"
                                            class="dropdown-item">Act3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <!-- HERO SECTION -->
        <section id="hero" class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <h3>Hi! I'm Faizil</h3>
                        <p>a junior web developer</p>
                    </div>
                    <div class="col-md-6 pt-4">
                        <img src="https://placehold.co/600x400.svg" alt="wa"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT SECTION -->
        <section id="about" class="py-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-6 py-3 px-2">
                        <img src="https://placehold.co/600x400.svg" alt="WA"
                            class="img-fluid">
                    </div>
                    <div
                        class="col-md-6 align-self-center justify-content-end p-4">
                        <h2>What I do?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Tempore quidem delectus sint deserunt possimus
                            facere ad velit ab culpa molestias!</p>
                        <ul class="nav nav-underline" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="skill-tab"
                                    type="button" role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#skills">Skills</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="experience-tab"
                                    type="button" role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#experience">Experience</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab"
                                    type="button" role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#education">Education</button>
                            </li>
                        </ul>

                        <div class="tab-content p-3 " id="tabContent">
                            <div class="tab-pane fade show active" id="skills"
                                role="tabpanel">
                                <h5>Skills</h5>
                                <p>This is skill content</p>
                            </div>
                            <div class="tab-pane fade show" id="experience"
                                role="tabpanel">
                                <h5>Experience</h5>
                                <p>This is experience content</p>
                            </div>
                            <div class="tab-pane fade show" id="education"
                                role="tabpanel">
                                <h5>Education</h5>
                                <p>This is Education content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- INTEREST SECTION -->
        <section id="interest" class="py-5 bg-light">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-8 offset-md-2 text-center mb-4">
                        <h2>Things I Interested</h2>
                        <p>There's a </p>
                    </div>
                    <div class="col-md-4 text-center mb-3">
                        <div class="card">
                            <div class="card-body">
                                <i
                                    class="bi bi-code-slash m-auto d-block btn btn-outline-primary pt-2 my-3"></i>
                                <h5>Lorem Ipsum</h5>
                                <p>Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mb-3">
                        <div class="card">
                            <div class="card-body">
                                <i
                                    class="bi bi-pc-display m-auto d-block btn btn-outline-primary pt-2 my-3"></i>
                                <h5>Lorem Ipsum</h5>
                                <p>Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mb-3">
                        <div class="card">
                            <div class="card-body">
                                <i
                                    class="bi bi-airplane-fill m-auto d-block btn btn-outline-primary pt-2 my-3"></i>
                                <h5>Lorem Ipsum</h5>
                                <p>Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Me -->
        <section id="contact" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Let's Connect!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Illum blanditiis veniam quam?</p>
                    </div>
                    <div class="col-md-4 text-end align-content-center">
                        <a href="#" class="btn btn-outline-primary border-0"><i
                                class="bi bi-instagram"></i></a>
                        <a href="#" class="btn btn-outline-primary border-0"><i
                                class="bi bi-github"></i></a>
                        <a href="#" class="btn btn-outline-primary border-0"><i
                                class="bi bi-envelope"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="pt-4 pb-2 bg-secondary text-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>mfp, 2025.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script
            src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>